/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Alphabetische Sortierung */

body {
    background-color: #FAEDCD;
}

caption {
    color: #D4A373;
}

.card {
    border: 0.2rem solid #CCD5AE;
    background-color: #FEFAE0;
}

.card-header {
    text-align: center;
    background-color: #FEFAE0;
    color: #432818;
}

footer {
    text-align: center;
    width: 100%;
    padding: 2.5rem;
  }
  
footer a {
    background: #FEFAE0;
    border: 1px solid #CCD5AE;
    border-radius: 3px;
    color: #432818;
    margin: 0.5rem; 
  }
  
footer a:hover {
    background: #D4A373;
    color: #FEFAE0;  
  }

html {
    font-family: 'Futura', sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-weight: bold;
    color: #432818;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: #432818;
    font-weight: bold;
}

.jumbotron {
    background-image: url(Bilder/Jumbotron\ Hintergrund\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron-text {
    border: 0.2rem solid #FEFAE0;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.jumbotron-text h1, .jumbotron-text p {
    color: #FEFAE0; 
}

#myInput {
    color: #D4A373;
    background-color: #FEFAE0;
}

.navbar-custom {
    background-color: #CCD5AE;
}

p {
    line-height: 1.5;
    color: #432818;
}

#quoteOne {
    text-align: center;
    padding: 2rem;
    font-style: italic;

}

#quoteTwo {
    text-align: center;
    padding: 2rem;
    font-style: italic;
}

table {
    color: #432818;
}

.table.sortable thead {
    background-color:#CCD5AE;
    color: #432818;
    font-weight: bold;
    cursor: pointer;
}

.table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}               
              